/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.myBuildBorder {
  border: 1px dashed red;
}
header {
  display: grid;
  grid-template-rows: repeat(3, 30px);
  grid-template-columns: 50px repeat(10, 1fr) 50px;
}
header .logo {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
header nav {
  grid-column-start: 8;
  grid-column-end: 12;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer {
  border: 1px dashed red;
  background-color: none;
  bottom: 0;
  padding: 3% 0% 3% 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.cta-container {
  border: 1px dashed red;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.cta {
  border: 1px dashed red;
  max-width: 36%;
  height: 40%;
  position: relative;
  left: 20%;
  top: 25%;
  vertical-align: baseline;
}
.phone-app-view {
  border: 1px dashed red;
  max-width: 300px;
  height: 60%;
  position: relative;
  bottom: 11%;
  left: 30%;
}
.feature-container {
  height: 100vh;
  border: 1px dashed red;
}
.feature-container .main-feature-row {
  border: 1px dashed red;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5%;
}
.feature-container .main-feature-row .feature-box {
  border: 1px dashed red;
  width: 20%;
  height: 70px;
  margin: 2%;
}
