.myBorder {
  border: 1px dashed red;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: 'Roboto', sans-serif;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.splash {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1% repeat(10, 1fr) 1%;
  transform: rotate(-10deg);
}
.splash .cta-box {
  grid-column-start: 2;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 8;
}
.feature {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 50px) repeat(6, 1fr);
}
.feature .feature-header {
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 5;
}
.feature .feature-container {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 5;
  grid-row-end: 13;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 3% repeat(3, 1fr) 3%;
  grid-template-rows: 3% 1fr 3%;
}
.feature .feature-container #RFG {
  border: 1px dashed red;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.feature .feature-container #Phone {
  border: 1px dashed red;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
.feature .feature-container #LFG {
  border: 1px dashed red;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}
header {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-rows: 20px 50px 20px;
  justify-items: center;
  background-color: rgba(81, 59, 245, 0.185);
}
header .logo {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: center;
}
header nav {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 100%;
  padding: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-self: center;
}
header nav a {
  text-decoration: none;
  color: white;
}
header .access {
  border: 1px dashed red;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-self: center;
}
header .access #signUp {
  margin: 5%;
}
header .access #signIn {
  margin: 5%;
}
footer {
  border: 1px dashed red;
  background-color: none;
  bottom: 0;
  padding: 3% 0% 3% 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.splash-background {
  background-image: url("../img/girl_holds_plant.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.splash {
  height: 100vh;
}
.splash .cta-box {
  background-color: rgba(81, 59, 245, 0.185);
  border-radius: 20px;
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}
.splash .cta-box #AppName {
  font-size: calc(3rem + 3vw);
  color: white;
  font-weight: 700;
}
.splash .cta-box #AppSlogan {
  font-size: 1.6rem;
  font-weight: 400;
  color: white;
}
.splash .cta-box #iosAppStore {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px solid white;
  width: 150px;
  height: 50px;
  border-radius: 10px;
}
.feature {
  border: 1px dashed red;
  height: 100vh;
  background-color: #F9F9F9;
}
.feature .feature-header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.feature .feature-header h3 {
  font-size: calc(2rem + 1vw);
  text-align: center;
}
.feature .feature-header p {
  font-size: 1rem;
  text-align: justify;
}
.feature .feature-container {
  background-color: lightgrey;
}
.feature .feature-container #RFG {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
}
.feature .feature-container #RFG .feature-box {
  border: 1px dashed red;
}
.feature .feature-container #Phone,
.feature .feature-container img {
  width: 100%;
  height: 100%;
}
.feature .feature-container #LFG {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
}
.feature .feature-container #LFG .feature-box {
  border: 1px dashed red;
}
.faq {
  border: 1px dashed red;
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  padding: 3%;
  background-image: url("../img/bottle_water_plant.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.faq .faq-left {
  border: 1px dashed red;
  width: 45%;
}
.faq .faq-right {
  border: 1px dashed red;
  width: 45%;
}
.getIt {
  border: 1px dashed red;
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  padding: 3%;
}
.getIt .phone-app {
  border: 1px dashed red;
  width: 30%;
}
.getIt .getIt-cta {
  border: 1px dashed red;
  width: 60%;
}
.contact {
  border: 1px dashed red;
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  padding: 3%;
}
.contact .contact-left {
  border: 1px dashed red;
  width: 50%;
}
.contact .contact-right {
  border: 1px dashed red;
  width: 40%;
}
