.cta-container {
    .myBuildBorder; 
    // padding-top: @HeaderFloatPadding;
    // margin-top: @HeaderFloatPadding; 
    // background-color: aqua;
    height: 100vh;
    // background-image: url("../img/bottle_water_plant.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.cta {
    .myBuildBorder; 
    // margin: auto; 
    max-width: 36%;
    height: 40%; 
    position: relative;
    left: 20%; 
    top: 25%; 
    vertical-align: baseline;
}

.phone-app-view {
    .myBuildBorder;
    max-width: 300px;
    height: 60%;
    position: relative;
    bottom: 11%; 
    left: 30%;  
}


.feature-container {
    height: 100vh;
    .myBuildBorder; 

    .main-feature-row {
        .myBuildBorder;
        .flex(row; center; center); 
        padding: 5%; 

        .feature-box {
            .myBuildBorder;
            width: 20%;
            height: 70px;
            margin: 2%; 
        }

    }
}


