.splash {
    .myBorder;
    height: 100vh;
    
    .cta-box {
        background-color: beige;
    }
}


.feature {
    .myBorder;
    height: 100vh;

    .feature-header {
        background-color: beige;
    }

    .feature-container {

        background-color: lightgrey;
    }
}


.faq {
    .myBorder;
}

.getIt {
    .myBorder;
}

.contact {
    .myBorder;
}