header {
    .myBorder;
    height: @HeaderFloatPadding;
    background-color: @HeaderBackgroundColor;

    .logo {
        .myBorder;
        width: 15%; 
    }

    nav {
        .myBorder;
        width: 50%; 
        
        a {
            color: @HeaderFontColor; 
            font-size: @HeaderFontSize;
            text-decoration: none;
        }
    }

    .access {
        .myBorder; 
        width: 15%; 
    }
}
