header {
    .myBuildBorder;
    .flex(row; space-between; center); 
    padding: 0% 3% 0% 3%;
    height: @HeaderFloatPadding;
    background-color: @HeaderBackgroundColor;

    .logo {
        .myBuildBorder;
        width: 10%;
        text-align: center;

        a {
            font-weight: 500;
            letter-spacing: 20%;
        }
    }

    nav {
        .myBuildBorder;
        .flex(row; space-between; center);
        width: 40%;
    }

    a {
        color: @HeaderFontColor;
        font-size: @HeaderFontSize;
        text-decoration: none;
    }
}