// Color Assignment

// Font Assignment
@HeaderFontSize: 1.2rem; 
@HeaderFontColor: white; 

// Colors 
@HeaderBackgroundColor:rgba(81, 59, 245, 0.185);
@FooterBackgroundColor: rgba(81, 59, 245, 0.185);
@ctaBoxColor: rgba(81, 59, 245, 0.185); 


//Padding  

@HeaderFloatPadding: 5rem; 

//Mobile 

@mobile500: ~"(max-width: 500px)";

@mobile920: ~"(max-width: 920px)";


